<div class="container mt-5">
  <h1>All our Flats (<%= @flats.length %>)</h1>
  <div class="d-flex">
    <div class="row">
      <% @flats.each do |flat| %>
        <div class="col-5">
          <div class="card mt-3">
            <div class="card-header">
              <h2><%= flat.name %></h2>
              <p><%= flat.address %></p>
              <p><i class="fa-solid fa-user"></i> <%= flat.number_of_guests %></p>
              <p><i class="fa-solid fa-euro-sign"></i> <%= flat.price_per_night %></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <ul class='mx-0 px-0'>
                  <li class='text-primary'><%= link_to flat_path(flat) do %>
                      More info
                    <% end %></li>
                  <li class='text-warning'><%= link_to edit_flat_path(flat) do %>
                      Edit
                    <% end %></li>
                  <li class='text-danger'> <%= link_to "Delete",
                  flat_path(flat),
                  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
                %></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%# Flat.create!(
  name: 'NYC Loft',
  address: '123 Upper East Side',
  description: 'A place for hipsters',
  price_per_night: 180,
  number_of_guests: 10
) %>
