<div class="banner"><img src='https://images.unsplash.com/photo-1476973422084-e0fa66ff9456?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8bWFwfGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=800&q=60'></div>
<div class="container">
  <div class="card">
    <div class="card-header">
      <h1><%= @flat.name %></h1>
      <p><%= @flat.address %></p>
    </div>
    <div class="card-header">
      <h3>A bit more about this flat....</h3>
      <p><%= @flat.description %></p>
    </div>
    <div class="card-header">
      <h3>Details</h3>
      <p><i class="fa-solid fa-user"></i> <%= @flat.number_of_guests %> <i class="fa-solid fa-euro-sign"></i> <%= @flat.price_per_night %></p>
    </div>
  </div>
</div>
<%#
  name: 'NYC Loft',
  address: '123 Upper East Side',
  description: 'A place for hipsters',
  price_per_night: 180,
  number_of_guests: 10
 %>
